.Cars {
    position: center;
    border-radius: 15px;
    padding: 2px;

    background: 
        linear-gradient(to bottom, #b5c3ff, #000) border-box,
        white padding-box;

    border: 5px solid transparent;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

html {
    background-image: url(images/Tiled.jpeg);
    background-repeat: repeat;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 16px;
  background-image: url(images/Forheader.jpg);
  background-position: center;
  color: #f1f1f1;
  text-align: center;
}

p, h1, h2, label{
    color: #ffffff;
    text-align: center;
}

.listofcars, li {
    color: #bec2d6;
    text-align: start;
}

.EVIL {
    position: fixed;
    bottom: 3%;
    right: 3%;
    border-radius: 15px;
    padding: 2px;

    background: 
        linear-gradient(to bottom, #850b0b, #000) border-box,
        white padding-box;

    border: 2px solid transparent;
}

.EVILER {
    position: fixed;
    bottom: 3%;
    right: 6%;
    border-radius: 15px;
    padding: 2px;

    background: 
        linear-gradient(to bottom, #0b851f, #ffffff) border-box,
        white padding-box;

    border: 2px solid transparent;
}

.shart {
    position: fixed;
    top: 20%;
    left: 3%;
    border-radius: 15px;
    padding: 2px;
    z-index: 1001;

    background: 
        linear-gradient(to bottom, #7c4d07, #000) border-box,
        white padding-box;

    border: 2px solid transparent;
}

.fun {
    position: fixed;
    top: 24%;
    left: 3%;
    border-radius: 15px;
    padding: 2px;
    z-index: 1001;

    background: 
        linear-gradient(to bottom, #868686, #000) border-box,
        white padding-box;

    border: 2px solid transparent;
}

.fun2 {
    position: fixed;
    top: 28%;
    left: 3%;
    border-radius: 15px;
    padding: 2px;
    z-index: 1001;

    background: 
        linear-gradient(to bottom, #868686, #000) border-box,
        white padding-box;

    border: 2px solid transparent;
}

button {
    background:none;
    border:none;
    color: #888888;
}

button:hover {
    background:none;
    border:none;
    color: #ffffff;
}

button:active {
    background:none;
    border:none;
    color: #888888;
}